@import url("themes.css");
@import url("clock.css");
@import url("timer.css");
@import url("stopwatch.css");

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--transparent);
	width: 300px;
	height: 500px;
}

/*glob*/
[class^="Text"] {
	color: bisque;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

.Button > img {
	max-height: 100%;
}

.Button {
	height: 80%;
	aspect-ratio: 1/1;
}

/*first layer*/
.Content.Box {
	width: 300px;
	height: 500px;
}

/*second layer*/
.Content.TabBox {
	height: 90%;
	width: 100%;
}

.Content.BottomBar {
	height: 10%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/*third layer*/
.Content.Tab {
	height: 100%;
	width: 100%;
	background-color: aquamarine;
}

/*default*/
.Content.Tab#clockContent {
	display: flex;
}

.Content.Tab#timerContent {
	display: none;
}

.Content.Tab#stopwatchContent {
	display: none;
}

.Content.Tab#settingsContent {
	display: none;
}
